@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section-title {
  @apply text-2xl font-bold mb-3;
}
.input {
  @apply w-full border p-3 rounded;
}
