@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section-title {
  @apply text-2xl font-bold mb-3;
}
.input {
  @apply w-full border p-3 rounded;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
